[Unit]
Description=TTyd Web Terminal
After=network.target

[Service]
# ai-launcher.sh needs to know what role to use - or have different service per repo per role 
# need to specify the port: TTYD_PORT
ExecStart=/bin/bash -c "/usr/local/bin/ttyd -a -W /opt/work-instruction/ehmanas/ai-llm-operations-wi-chat/util/ai-launcher.sh"
Restart=always
User=debian
Group=debian

[Install]
WantedBy=multi-user.target
